* {
    margin: 0px;
}

body {
    font-family: 'Monrope', sans-serif;
}

header {
    background-color: #f3f3f3;
    padding: 10px 10px;
}

.logo img {
    height: 50px;
    padding: 10px;
    margin: 20px;
}

.logo {
    display: flex; /* Utilise Flexbox */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Espace entre les éléments */

}
.logo-ece{
    margin: 0 auto; /* Centre l'élément */
    text-align: center; /* Facultatif pour le contenu textuel */
}

.logo-menu{
    margin-right: auto; /* Pousse l'élément vers la gauche */
}

.logo-utilisateur{
    margin-left: auto;
}


.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;   
}

main {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.infos {
    background: linear-gradient(#8e86b5, #acaeed);
    grid-column: 1/2;
    grid-row: 1/5;   
    padding: 5%;
}

.question {
    /*background-color: #7779a6;*/
    background-color: #ffffff;
    grid-column: 2/3;
    grid-row: 1/5;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.enonce{
    text-align: center;
    padding: 5%;
    grid-column: 2/11;
    grid-row: 1/2;
}

.reponse {
    background: linear-gradient(#8e86b5, #acaeed);
    border-radius: 10px;
    padding: 5px;
    margin: 5%;
    grid-column: 3/10;
    grid-row: 2/3;

}

input{
    margin: 5px;
}

#OQ{
    border-radius: 50px;
    padding: 5%;
    text-align: center;
}


.send-button{
    grid-column: 5/8;
    grid-row: 3/4;
    font-size: 1em;

    text-align: center;

    padding: 5%;
    margin: 12% 0% 12% 0%;
    border-radius: 50px;
    background: linear-gradient(#8e86b5, #acaeed);
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);

    border: none;
}

.send-button:hover{
    box-shadow: none;
}

.erreur-reponse{
    display: none;
    color: red;
    grid-column: 5/8;
    grid-row: 4/5;
    text-align: center;
}

.correction{
    grid-column: 4/9;
    grid-row: 5/6;
    display: none;
    text-align: center;
}
.correction h3{
    padding: 10px;
}

.resultat{
    grid-column: 4/9;
    grid-row: 4/5;
    text-align: center;
    display: none;
}
.question-suivante{
    grid-column: 5/8;
    grid-row: 3/4;

    text-align: center;

    padding: 5%;
    margin: 12% 0% 12% 0%;
    border-radius: 50px;
    background: linear-gradient(#8e86b5, #acaeed);
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    display: none;
}

.question-suivante:hover{
    box-shadow: none;
    text-decoration: none;
    text-decoration: none;   
}


footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}
